:root {
   /* colors */
}
.text {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.header {

}
.row {
    display: flex;
    flex-direction: row;
}
.flex {
    display: flex;
}
.container {
    width: 90vw;
    height: auto;
    margin: auto;
}
.px10 {
    font-size: 18px;
}
.px14 {
    font-size: 14px;
}
.px18 {
    font-size: 18px;
}
.px24 {
    font-size: 24px;
}
.px32 {
    font-size: 32px;
}
.px48 {
    font-size: 48px;
}
.icon {
    width: 32px;
    height: 32px;
}
a {
    text-decoration: none;
}
html * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: .2s;
}
html {
    overflow-x: hidden;
    font-size: 18px;
}